{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row text-center">
        <img src="{% static 'images/Education.png' %}" style="width: 1300px;">
    </div>
    <br>
    <br><br><br>
    <div class="row" >
        <img src="{% static 'images/swang2.png' %}" style="width: 1000px;">
    </div>
    <div class="row">
        <img src="{% static 'images/panarai.png' %}" style="width: 1000px;">
    </div>
    <div class="row">
        <img src="{% static 'images/patwit.png' %}" style="width: 1000px;">
    </div>
    <div class="row">
        <img src="{% static 'images/wirai.png' %}" style="width: 1300px;">
    </div>
    <div class="row">
        <img src="{% static 'images/wirai2.png' %}" style="width: 1500px;">
    </div>
    <div class="row">
        <img src="{% static 'images/mtr3.gif' %}" style="width: 1500px;">
    </div>
{% endblock %}